[submodule "HazelEngine/ThirdParties/spdlog"]
	path = HazelEngine/ThirdParties/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelEngine/ThirdParties/GLFW"]
	path = HazelEngine/ThirdParties/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazelEngine/ThirdParties/imgui"]
	path = HazelEngine/ThirdParties/imgui
	url = https://github.com/TheCherno/imgui
